#bdy{
    background-color: rgba(5, 133, 11, 0.13);
    /* background-image:url(E:\WebProject\reactJS\news-app\public\newspapers.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh; */
}